<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <a href="/">INSTA485</a>
    <form action="/" method="post" enctype="multipart/form-data">
      <input type="text" name="username" required />
      <input type="password" name="password" required />
      <input type="submit" value="login" />
      <input type="hidden" name="operation" value="login" />
      <h1>Don't have an account?</h1>
      <a href="/accounts/create/">Sign Up</a>
    </form>
  </body>
</html>
