<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
  </head>
  <body>
    <a href="/">INSTA485</a> 
    <a href="/explore/">explore | </a>
    <a href="/users/{{ logname }}/">{{ logname }}</a>
    <br> <br> <br>
    <a href="/users/{{ owner }}/">
      <img src="/uploads/{{ filename }}" alt="user_photo" />
    </a>
    <a href="/users/{{ owner }}/">{{ owner }}</a>
    <a href="/posts/{{ postid }}/">{{ timeago }}</a>
    <img src="/uploads/{{ img_url }}" alt="post_img" /> 
    {% if likes == 1 %}
    <p>1 like</p>
    {% else %}
    <p>{{ likes }} likes</p>
    {% endif %} 
    {% for comment in comments %}
    <div>
      <a href="/users/{{ comment.owner }}/">{{ comment.owner }}</a> 
      {{comment.text }} 
      {% if logname == comment.owner%}
      <form
        action="/comments/?target=/posts/{{postid}}/"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="hidden" name="operation" value="delete" />
        <input type="hidden" name="commentid" value="{{comment.commentid}}" />
        <input type="submit" name="uncomment" value="delete" />
      </form>
    {%endif%}
    </div> 
    {% endfor %} 
    {% if logged == True %}
    <form
      action="/posts/?target=/users/{{logname}}/"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="operation" value="delete" />
      <input type="hidden" name="postid" value="{{postid}}" />
      <input type="submit" name="delete" value="delete this post" />
    </form>
    {%endif%}
    <form
      action="/comments/?target=/posts/{{postid}}/"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="operation" value="create" />
      <input type="hidden" name="postid" value="{{postid}}" />
      <input type="text" name="text" required />
      <input type="submit" name="comment" value="comment" />
    </form>
    {% if liked %}
    <form
      action="/likes/?target=/posts/{{postid}}/"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="operation" value="unlike" />
      <input type="hidden" name="postid" value="{{postid}}" />
      <input type="submit" name="unlike" value="unlike" />
    </form>
    {%else%}
    <form
      action="/likes/?target=/posts/{{postid}}/"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="operation" value="like" />
      <input type="hidden" name="postid" value="{{postid}}" />
      <input type="submit" name="like" value="like" />
    </form>
    {%endif%}
  </body>
</html>
